<div class="container">
<footer>
<hr>
<small style="float:left;">&copy;{{ title }} <span class="math">\( 2013 \).</span>
    This site is built using
    <a href="https://bitbucket.org/chhshen/markdown2web" target="_blank" data-toggle="tooltip"
       data-placement="right" title="check out the code on bitbucket">
        <i class="icon-fixed-width icon-bitbucket-sign"></i>markdown2web</a>.
</small>
                <small style="float:right;">
                            <a href="#"
                                data-toggle="tooltip" title="scroll to the top of the page"
                                onclick="scrollToTop();return false">
                                <i class="icon-fixed-width icon-arrow-up"></i>
                            </a>
                </small>
</footer>
</div>
<!--
<script src="http://code.jquery.com/jquery.js"></script>
-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<!-- Preloader -->
<script type="text/javascript">
//<![CDATA[
	$(window).load(function() {                 // makes sure the whole site is loaded
	$("#status").fadeOut();                     // will first fade out the loading animation
	$("#preloader").delay(350).fadeOut("slow"); // will fade out the white DIV that covers the website.
})
//]]>
</script> 


<script src="_assets/js/bootstrap.min.js"></script>
<script src="_assets/js/bootstrap-sortable.js"></script>
<script src="_assets/js/jquery.dropdown.js"></script>

<script src="_assets/js/cs.js"></script>
<!-- enable bootstrap tooltip, example: <a href="#" data-toggle="tooltip" title="xxxxx">WSS ... -->
<script type="text/javascript">
    $(function() {
    $("[data-toggle='tooltip']").tooltip();
});

</script>
