<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="stylesheet"          href="_assets/css/loader.css">

<link rel="stylesheet"          href="_assets/css/bootstrap.css">
<link rel="stylesheet"          href="_assets/css/bootstrap-sortable.css">
<link rel="stylesheet"          href="_assets/css/jquery.dropdown.css">

<!-- http://fortawesome.github.io/Font-Awesome/get-started/ -->
<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="_assets/css/main.css">

<link rel="stylesheet" href="_assets/css/nav_theme{{ nav_theme_index }}.css">

