<!DOCTYPE html>
<html>
<head>
  {% include 'header.html'    %}
  {% include 'analytics.html' %}
  {% include 'latex.html'     %}

  {% if title %}
    <title>{{ title }} {% if subtitle %} &ndash; {{ subtitle }} {% endif %}</title>
  {% endif %}
</head>


<body>


<!-- Preloader -->
<div id="preloader">
	<div id="status">&nbsp;</div>
</div>


{% if nav_theme_index  is defined %}
    <!-- nav_theme_index = {{ nav_theme_index }}  -->

    {% if nav_theme_index == 1 %}  {% include 'nav_theme1.html' %}  {% endif %}
    {% if nav_theme_index == 2 %}  {% include 'nav_theme2.html' %}  {% endif %}
    {% if nav_theme_index == 3 %}  {% include 'nav_theme3.html' %}  {% endif %}
    {% if nav_theme_index == 4 %}  {% include 'nav_theme4.html' %}  {% endif %}
    {% if nav_theme_index == 5 %}  {% include 'nav_theme5.html' %}  {% endif %}
    {% if nav_theme_index == 6 %}  {% include 'nav_theme6.html' %}  {% endif %}
    {% if nav_theme_index == 7 %}  {% include 'nav_theme7.html' %}  {% endif %}
    {% if nav_theme_index == 8 %}  {% include 'nav_theme8.html' %}  {% endif %}
    {% if nav_theme_index == 9 %}  {% include 'nav_theme9.html' %}  {% endif %}
    {% if nav_theme_index ==10 %}  {% include 'nav_theme10.html' %} {% endif %}

{% else %}
    {% include 'nav_theme1.html' %}
{% endif %}


<div class="container">
    {% include '_content_.html' %}
</div>

{% include 'footer.html' %}

</body>
</html>

