
/* navigation menu */
.navbox  {
	position: relative;
	float: left;
    font-family: 'PT Serif', Georgia, Helvetica, Arial, serif;
}

ul.navi {
	list-style: none;
	display: block;
	width: 160px;
	position: relative;
	top: 120px;
	left: 30px;
	padding: 50px 0 50px 0;
	background: url(img/shad2.png) no-repeat;
	-webkit-background-size:  50% 100%;
    background-size:          50% 100%;
}

li {
	margin: 5px 0 0 0;
}

ul.navi li a {
	-webkit-transition: all 0.3s ease-out;
	transition:         all 0.3s ease-out;

    background: #eff url(img/border.png) no-repeat;
	color: navy;

	padding: 7px 15px 7px 15px;
	
    -webkit-border-top-right-radius: 10px;
 	-webkit-border-bottom-right-radius: 10px;
	
    border-top-right-radius: 10px;
 	border-bottom-right-radius: 10px;
	
    width: 100px;
	display: block;
	text-decoration: none;

	-webkit-box-shadow: 2px 2px 4px #aaa;
    box-shadow:         2px 2px 4px #aaa;

}

ul.navi li a:hover {
	background: #ebebeb url(img/border.png) no-repeat;
	color:      #67a5cd;
    color:      green;
	padding:    7px 15px 7px 30px;
}



